@model LojaVirtual.Models.ViewModel.Carrinho.CarrinhoVM


<div class="ajaxcarrinho" style="color:white;">

    Seu Carrinho: @Model.Quantidade Iten(s): R$@Model.Preco
    <br />
    @Html.ActionLink("Ver Carinho","Index")
</div>

